{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false
    },
    "rules": {
        "wrap-iife": ["error", "any"],
        "dot-notation": "error",
        "new-cap": ["error", { "capIsNew": false }],
        "no-caller": "error"
    }
}
